/*
Copyright © 2026 Defend I.T. Solutions LLC. All Rights Reserved.

This software and its source code are the proprietary property of
Defend I.T. Solutions LLC and are protected by United States and
international copyright laws. Unauthorized reproduction, distribution,
modification, display, or use of this software, in whole or in part, without the
prior written permission of Defend I.T. Solutions LLC, is strictly prohibited.

This software is provided for use only by authorized employees, contractors, or
licensees of Defend I.T. Solutions LLC and may not be disclosed to any third
party without express written consent.
*/

@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .glow-hover {
    @apply hover:drop-shadow-[0_0_80px_rgba(59,130,246,0.4)] dark:hover:drop-shadow-[0_0_80px_rgba(14,165,233,0.3)] transition-all duration-300 ease-in-out;
  }

  .glow {
    @apply drop-shadow-[0_0_90px_rgba(59,130,246,0.36)] dark:drop-shadow-[0_0_80px_rgba(14,165,233,0.3)];
  }
}

* {
  scroll-behavior: smooth;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* style scroll bars */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* dark mode scroll bars */
.dark *::-webkit-scrollbar-thumb {
  background-color: #555;
}
.dark *::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
.dark *::-webkit-scrollbar-track {
  background-color: #222;
}
